# FRONTEND (Vite)
VITE_API_URL=http://localhost:4000/api
VITE_ADMIN_API_URL=https://photo-vitoria-admin-api-rxpgnk6khq-uc.a.run.app

# Firebase Auth (Portal Admin /admin/galeria)
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=

# Cloudflare Turnstile
VITE_TURNSTILE_SITE_KEY=
TURNSTILE_SECRET_KEY=

# ADMIN GALERIA (GCP Cloud Run)
GITHUB_REPO=elton-peixoto-lu/photo-vitoria
GITHUB_BASE_BRANCH=master
GITHUB_UPLOAD_TOKEN=github_pat_com_acesso_ao_repo

# BACKEND (Express)
PORT=4000
